<!--  in apps/views/home/about.html.erb  -->

<h1>Stocking - About</h1>

<p>Okay, firt attemp at modifying About page.</p>
<p>Find me in app/views/home/about.html.erb</p>

</b>
<p>My name is Bill Leezer in John Elders class @ codemy.com  'home/about'</p>
