<!--  in apps/views/home/index.html.erb  -->

<h1>Stocking - Home#index</h1>

<p>Okay, firt attemp at modifying index/home page.</p>
<p>Find me in app/views/home/index.html.erb</p>


<!--  % StockQuote::Stock.new(api_key: 'pk_d26d923c6b6e41648be7487d7f41b027') %  -->
<% stock = StockQuote::Stock.quote("fb") %>
<%=  stock.inspect %>